/* projectCategory 1 : Products
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#878787!important; }

.profile-menu-portletWindowBackground { background:#c1c1c1!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 2 : Services
   projectCategory 3 : Solutions
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#878787!important; }

.profile-menu-portletWindowBackground { background:#c1c1c1!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 4 : Partners
   projectCategory 5 : Businesses
   projectCategory 36 : Organizations
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#ff9f2a!important; color:#fff }

.profile-menu-portletWindowBackground { background:#ffdba8!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 37 : Groups
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#a7cf52!important; color: #fff }

.profile-menu-portletWindowBackground { background:#d2e7a7!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important }


/* projectCategory 47 : People
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#0461ac!important; color:#fff }

.profile-menu-portletWindowBackground { background:#9cc0df!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 48 : Places
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#ffcf00!important; }

.profile-menu-portletWindowBackground { background:#fff29e!important; margin:0 0 10px 0 }


/* projectCategory 49: Events
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#803082!important; color:#fff }

.profile-menu-portletWindowBackground { background:#cfaacd!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 50 : Sponsors
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#e91c0e!important; color:#fff }

.profile-menu-portletWindowBackground { background:#fcb7ad!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }


/* projectCategory 51 : Ideas
*/

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#4bbbe0!important; color:#fff }

.profile-menu-portletWindowBackground { background:#b8e5f4!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }



/* projectCategory 55 : Projects */

.profile-header-portletWindowBackground { margin:0 0 5px 0; background:#a57146!important; color:#fff }

.profile-menu-portletWindowBackground { background:#dfd0c0!important; margin:0 0 10px 0 }

.profile-header a { color: #fff!important; }