.star-table, .star-table td {
  vertical-align: top !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
}
.star-div {
  vertical-align: top !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 16px;
  width: 80px;
}
.star-rating{
  list-style:none;
  padding: 0 !important;
  width: 80px !important;
  height: 16px !important;
  position: relative;
  margin: 0 !important;
  background: url(../images/star_rating/stars16.png) top left repeat-x !important;
}
.star-rating li{
  padding: 0;
  margin: 0;
  float: left;
}
.star-rating li a{
  display:block;
  width:16px;
  height: 16px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0;
}
.star-rating li a:hover{
  background: url(../images/star_rating/stars16.png) left bottom;
  z-index: 2;
  left: 0;
}
.star-rating a.one-star{
  left: 0;
}
.star-rating a.one-star:hover{
  width:16px;
}
.star-rating a.two-stars{
  left:16px;
}
.star-rating a.two-stars:hover{
  width: 32px;
}
.star-rating a.three-stars{
  left: 32px;
}
.star-rating a.three-stars:hover{
  width: 48px;
}
.star-rating a.four-stars{
  left: 48px;
}
.star-rating a.four-stars:hover{
  width: 64px;
}
.star-rating a.five-stars{
  left: 64px;
}
.star-rating a.five-stars:hover{
  width: 80px;
}
.star-rating li.current-rating{
  background: url(../images/star_rating/stars16.png) left center;
  position: absolute;
  height: 16px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}
.star-count {
  vertical-align: top;
  padding: 0 !important;
  border: 0 !important;
}
