/*
 * file information
 * style type: concoursconnect color scheme : orange
 * version:    1
 * date:       20090301
 * author:     concursive.com
 * notes:      orange site color theme
 *
 */

 body {
   background:#ddd;
 }

.ccp-container {
  _height:1%;
}

.ccp-header {
  background:#f6921e url(../images/1x40_orange.jpg) 0 0 repeat-x;
  border-left:2px solid #aaa;
  border-right:2px solid #aaa;
  _width:100%;
}

    #ccp-header-title-image-id {
      float:left;
      margin:35px 0 5px 20px;
    }

    .ccp-header-menu {
      position:absolute;
      right:-15px;
      top:0;
      height: 1px;
    }

        .ccp-header-menu a {
          color:#000;
        }

        .ccp-site-menu {
          height: 17px; /* 5px top + 5px bottom + 17px high = 27px total */
          padding:5px 20px 5px 5px;
          position:relative;
          margin-top: -1px;
        }
            .ccp-site-menu ul {
              padding:0;
              margin:0;
            }

        .ccp-user-menu {
          height: 17px; /* 5px top + 5px bottom + 17px high = 27px total */
          padding:5px 15px 5px 5px;
          margin-right: -5px;
          margin-top: -1px;
        }
            .ccp-user-menu ul {
              padding:0;
              margin:0;
            }

        .ccp-search-form {
          clear:both;
          float:right;
          margin-top:15px;
          padding-right: 30px;
          color: #000;
        }

  .ccp-header h1,
  .ccp-search-form {
    color:#000;
  }

.ccp-body {
  background:#fff;
  border-width:0 2px 2px 2px;
  border-color:#aaa;
  border-style:solid;
}

  .ccp-navigation {
    background:#000;
  }

    .ccp-navigation ul li a {
      color:#ddd;
    }

    .ccp-navigation ul li em {

    }

    .ccp-navigation ul li a.active,
    .ccp-navigation ul li a:hover {
      background:#dedede;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      color:#000;
    }

      .ccp-navigation ul li a.active em {
        color:#000;
      }

.ccp-footer {
	background: none;
	border-bottom: none;
}

.ccp-alert a {
  color:#eee
}

.ccp-alert a:hover {
  color:#fff
}